/*---base.html---*/






/*---home.html---*/

.bg {
    background-color: red;
}

.col-centered{
    margin-top: 25px;
    text-align: center;
}


/*---scores.html---*/
.font {
    color:red;
}




/*---add_entry.html---*/






/*---edit_entry.html---*/








