{% extends 'base.html' %} {% block content %}
<h3>Add Score Entry</h3>
<div class="row">
    <form method="POST" class="col s12" enctype='multipart/form-data'>
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">ac_unit</i>
                    <select id="province_name" name="province_name">
                  <option value="" disabled selected>Choose Province</option>
                  {% for p in provinces %}
                      <option value="{{p}}">{{p}}</option>
                  {% endfor %}
                </select>
                    <label>Province</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="course_name" name="course_name" type="text">
                <label for="icon_prefix">Course</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="location_name" name="location_name" type="text">
                <label for="icon_telephone">Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="par_name" name="par_name" type="number">
                <label for="icon_telephone">Par</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="gross_score_name" name="gross_score_name" type="number">
                <label for="icon_telephone">Gross Score</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="handicap_name" name="handicap_name" type="number">
                <label for="icon_telephone">Handicap</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="net_score_name" name="net_score_name" type="number">
                <label for="icon_telephone">Net Score</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ac_unit</i>
                <input id="weather_name" name="weather_name" type="text">
                <label for="icon_telephone">Weather</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="date_name" type="text" class="datepicker">
                <label for="icon_prefix">Date</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Image</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Add Task
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}
